name: Formatting

on:
    push:
        branches: [master, main]
    pull_request:
        branches: [master, main]

jobs:
    check-rs-format:
        name: Check Formatting (Rust)
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: dtolnay/rust-toolchain@master
              with:
                  toolchain: nightly
                  components: rustfmt
                  targets: wasm32-unknown-unknown
            - name: rustfmt
              run: cargo fmt --check

    check-prettier-format:
        name: Check Formatting (Prettier)
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Check formatting with Prettier
              uses: Nerixyz/actionsx-prettier@v3-adj+prettier3.6.2
              with:
                  args: -c .
